.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 45vh;
  width: 100vw;
  border-radius: 3px;
  background-color: rgb(30, 30, 30);
  position: relative;
}

.FirstRow {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

.arrow {
  width: 0.8rem;
  position: relative;
  top: 2px;
  left: 4px;
  opacity: 0.75;
}

.Label {
  font-size: 0.9rem;
  color: rgb(132, 132, 132);
}

.Input {
  width: 40rem;

  font-size: 1.1rem;

  border: none;
  outline: none;
  padding: 0.25rem 0.5rem;
  padding-left: 0;
  padding-bottom: 0.4rem;
  border-bottom: 2px solid white;

  transition: 0.15s;
  color: white;

  opacity: 0.5;

  background-color: transparent;
}

.Opacity1 {
  opacity: 1;
}

.Button {
  margin-top: 2.5rem;
  background-color: rgb(170, 170, 170);

  color: black;
  outline: none;
  border: none;

  padding: 0.5rem;

  cursor: pointer;

  transition: 0.2s;

  width: 16rem;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 1px;
  align-self: center;
}

.Button:hover {
  background-color: rgb(52, 51, 51);
  color: rgb(189, 189, 189);
}

.Download {
  background-color: rgb(56, 56, 56);
  color: rgb(199, 199, 199);
  padding: 0.15rem 0.75rem;

  border: none;

  transition: 0.25s;
  margin-top: 1rem;
}

.Download:hover {
  padding: 0.15rem 2rem;
}

.message {
  color: rgb(235, 235, 235);
  margin-block: 10px 20px;
  height: 0;
  visibility: hidden;
}

@media only screen and (max-width: 1150px) {
  .Container {
    width: 93.5vw;
    height: 62.5vh;
    margin-top: 0;
  }

  .Input {
    width: 18rem;
  }

  .Label {
    font-size: var(--step--2);
  }

  .Button {
    font-size: 0.8rem;
    width: 13rem;
  }
}

@media only screen and (max-width: 300px) {
  .Container {
    width: 100vw;
    height: 62.5vh;
    margin-top: 0;
  }

  .Input {
    width: 12rem;
  }

  .Button {
    font-size: 0.8rem;
    width: 8rem;
  }
}
