:root {
  --step--2: clamp(0.78rem, calc(0.76rem + 0.1vw), 0.84rem);
  --step--1: clamp(0.94rem, calc(0.9rem + 0.2vw), 1.05rem);
  --step-0: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
  --step-1: clamp(1.35rem, calc(1.25rem + 0.51vw), 1.64rem);
  --step-2: clamp(1.62rem, calc(1.47rem + 0.75vw), 2.05rem);
  --step-3: clamp(1.94rem, calc(1.73rem + 1.08vw), 2.56rem);
  --step-4: clamp(2.33rem, calc(2.03rem + 1.52vw), 3.2rem);
  --step-5: clamp(2.8rem, calc(2.38rem + 2.1vw), 4.01rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:  rgb(25, 25, 25);
}

💪 {
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

.lightIMG {
  filter: brightness(0) invert(1);
}

/* App */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.App .Logo {
  position: absolute;
  right: 7.5rem;
  bottom: 3.5rem;
  width: 3.5rem;
}

.App .LogoMP3 {
  position: absolute;
  right: 3rem;
  bottom: 2.7rem;
  width: 3rem;
}

.App h1 {
  color: rgb(233, 233, 233);
  font-size: var(--step-2);

  width: 31.5ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate,
    removeBlinker 8s forwards;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;

  text-align: center;
  margin: 3.5rem auto;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes removeBlinker {
  to {
    border-right: none;
  }
}

@media only screen and (max-width: 1150px) {
  .App h1 {
    width: 32.5ch;
    font-size: var(--step-0);
  }
}

@media only screen and (max-width: 300px) {
  .App h1 {
    font-size: var(--step--1);
  }
}
