:root {
  --step--2: clamp(0.78rem, calc(0.76rem + 0.1vw), 0.84rem);
  --step--1: clamp(0.94rem, calc(0.9rem + 0.2vw), 1.05rem);
  --step-0: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
  --step-1: clamp(1.35rem, calc(1.25rem + 0.51vw), 1.64rem);
  --step-2: clamp(1.62rem, calc(1.47rem + 0.75vw), 2.05rem);
  --step-3: clamp(1.94rem, calc(1.73rem + 1.08vw), 2.56rem);
  --step-4: clamp(2.33rem, calc(2.03rem + 1.52vw), 3.2rem);
  --step-5: clamp(2.8rem, calc(2.38rem + 2.1vw), 4.01rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(31, 31, 31);
}

💪 {
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}
